<html>
<head>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/screen.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
#parse("topbar.html")

<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/laravel-5-5-will-be-the-next-lts-release/">英语7月18日笔记</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">冰锋-计1004</a></span> •
                            <time class="post-date" datetime="2017年02月20日" title="2017年02月20日">2017年02月20日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"><img
                            src="http://s4.sinaimg.cn/middle/4ec5685bg9ddaa9f97193&690"
                            alt="Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布"></a></div>
                    <div class="post-content"><p></p>
                        <p>我记得笔记，我记得笔记，我记得笔记，我记得笔记，我记得笔记。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article><article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/laravel-5-5-will-be-the-next-lts-release/">高数7月18日笔记</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">冰锋-计1004</a></span> •
                            <time class="post-date" datetime="2017年02月20日" title="2017年02月20日">2017年02月20日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"><img
                            src="http://img0.imgtn.bdimg.com/it/u=3339258049,1729322427&fm=26&gp=0.jpg"
                            alt="Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布"></a></div>
                    <div class="post-content"><p></p>
                        <p>我记得笔记，我记得笔记，我记得笔记，我记得笔记，我记得笔记。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a href="/post/laravel-5-4-is-now-released/">Laravel
                        5.4 版本正式发布</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">王赛</a></span> •
                            <time class="post-date" datetime="2017年01月24日" title="2017年01月24日">2017年01月24日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laravel-5-4-is-now-released/"><img
                            src="http://image.golaravel.com/f/48/7a406073b512ef16a891127824c7b.jpg"
                            alt="Laravel 5.4 版本正式发布"></a></div>
                    <div class="post-content"><p></p>
                        <p>Laravel 5.4 版本正式发布了！这一版本带来了很多新特性以及对原有功能的提升。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laravel-5-4-is-now-released/" class="btn btn-default">阅读全文</a>
                    </div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a href="/post/benchmarking-laravel-symfony-zend/">Laravel&nbsp;之父：让
                        Laravel、Symfony、 Zend 来一场公平的性能测试</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">王赛</a></span> •
                            <time class="post-date" datetime="2017年01月12日" title="2017年01月12日">2017年01月12日</time>
                        </div>
                    </div>
                    <div class="post-content"><p></p>
                        <p>网上充斥着各式各样的 PHP 框架性能对比的文章。然而，他们总是把“苹果”和“橘子”做对比（看上去有点儿像，都是圆的，但其实不是一码事）。这次，我将着重对 Laravel、Symfony
                            和 Zend 这三个框架做性能对比，并且还要说明为什么这三个框架总是被错误的进行比较。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/benchmarking-laravel-symfony-zend/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a href="/post/laravel-5-3-is-now-released/">Laravel
                        5.3 正式发布</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">王赛</a></span> •
                            <time class="post-date" datetime="2016年08月23日" title="2016年08月23日">2016年08月23日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laravel-5-3-is-now-released/"><img
                            src="http://image.golaravel.com/9/a9/c367f99a8366ca86f7b889da25022.png"
                            alt="Laravel 5.3 正式发布"></a></div>
                    <div class="post-content"><p></p>
                        <p>Laravel 项目组自豪地宣布 Laravel 5.3 <a href="https://laravel.com/docs/5.3">正式发布了</a> ！5.3
                            版本中的新增特性主要集中在提升开发速度，通过增强常见任务的开箱即用功能提升开发效率。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laravel-5-3-is-now-released/" class="btn btn-default">阅读全文</a>
                    </div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a href="/post/laracon-laravel-5-3-recap/">Laracon
                        开发者大会快报：听 Taylor Otwell 讲解 Laravel 5.3 的新特性</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">王赛</a></span> •
                            <time class="post-date" datetime="2016年07月28日" title="2016年07月28日">2016年07月28日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laracon-laravel-5-3-recap/"><img
                            src="http://image.golaravel.com/5/1a/d0b8c085dec30605e2c3e9e773d00.png"
                            alt="Laracon 开发者大会快报：听 Taylor Otwell  讲解 Laravel 5.3 的新特性"></a></div>
                    <div class="post-content"><p></p>
                        <p>今天， Taylor Otwell 在 Laracon US 开发者大会上就 Laravel 5.3 的新特性作了长时间的演讲，演讲内容主要概括为四个方面：Laravel
                            Scout、Laravel Passport、Laravel Mailable 和 Laravel Notifications。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laracon-laravel-5-3-recap/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a href="/post/laravel-turns-five/">Laravel 五岁了</a>
                    </h1>
                        <div class="post-meta"><span class="author">作者：<a href="https://www.bootcss.com/"
                                                                          target="_blank">王赛</a></span> •
                            <time class="post-date" datetime="2016年06月11日" title="2016年06月11日">2016年06月11日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/laravel-turns-five/"><img
                            src="http://image.golaravel.com/e/09/f05fc8d95497bad948ac46eb68d9d.jpg"
                            alt="Laravel 五岁了"></a></div>
                    <div class="post-content"><p></p>
                        <p>五年前（2011年6月11日）的今天，Taylor Otwell 将 Laravel 带到了这个世界！</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/laravel-turns-five/" class="btn btn-default">阅读全文</a>
                    </div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-yi/">2016 版 Laravel 系列入门教程（一）</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="http://lvwenhan.com" target="_blank">JohnLui</a></span>
                            •
                            <time class="post-date" datetime="2016年06月06日" title="2016年06月06日">2016年06月06日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-yi/"><img
                            src="http://image.golaravel.com/d/51/11130f096dbec743756b69cbb22f9.jpg"
                            alt="2016 版 Laravel 系列入门教程（一）"></a></div>
                    <div class="post-content"><p></p>
                        <p>在任何地方卡住，最快的办法就是去看示例代码。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-yi/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-er/">2016 版 Laravel 系列入门教程（二）</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="http://lvwenhan.com" target="_blank">JohnLui</a></span>
                            •
                            <time class="post-date" datetime="2016年06月06日" title="2016年06月06日">2016年06月06日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-er/"><img
                            src="http://image.golaravel.com/d/51/11130f096dbec743756b69cbb22f9.jpg"
                            alt="2016 版 Laravel 系列入门教程（二）"></a></div>
                    <div class="post-content"><p></p>
                        <p>在任何地方卡住，最快的办法就是去看示例代码。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-er/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-san/">2016 版 Laravel 系列入门教程（三）</a>
                    </h1>
                        <div class="post-meta"><span class="author">作者：<a href="http://lvwenhan.com" target="_blank">JohnLui</a></span>
                            •
                            <time class="post-date" datetime="2016年06月06日" title="2016年06月06日">2016年06月06日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-san/"><img
                            src="http://image.golaravel.com/d/51/11130f096dbec743756b69cbb22f9.jpg"
                            alt="2016 版 Laravel 系列入门教程（三）"></a></div>
                    <div class="post-content"><p></p>
                        <p>在任何地方卡住，最快的办法就是去看示例代码。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-san/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <article class="post">
                    <div class="post-head"><h1 class="post-title"><a
                            href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-si/">2016 版 Laravel 系列入门教程（四）</a></h1>
                        <div class="post-meta"><span class="author">作者：<a href="http://lvwenhan.com" target="_blank">JohnLui</a></span>
                            •
                            <time class="post-date" datetime="2016年06月06日" title="2016年06月06日">2016年06月06日</time>
                        </div>
                    </div>
                    <div class="featured-media"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-si/"><img
                            src="http://image.golaravel.com/d/51/11130f096dbec743756b69cbb22f9.jpg"
                            alt="2016 版 Laravel 系列入门教程（四）"></a></div>
                    <div class="post-content"><p></p>
                        <p>在任何地方卡住，最快的办法就是去看示例代码。</p>
                        <p></p></div>
                    <div class="post-permalink"><a href="/post/2016-ban-laravel-xi-lie-ru-men-jiao-cheng-si/"
                                                   class="btn btn-default">阅读全文</a></div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <nav class="pagination" role="navigation"><span class="page-number">第 1 页 / 共 7 页</span> <a
                        class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a></nav>
            </main>
            <aside class="col-md-4 sidebar">
                <div class="widget"><h4 class="title">发布</h4>
                    <div class="content download"><a href="/download/" class="btn btn-default btn-block"
                                                     onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载 Laravel &amp; Lumen'])">我要分享！</a></div>
                </div>
                <div class="widget"><h4 class="title">我分享的笔记</h4><a href="https://docs.golaravel.com/docs/5.4/"
                                                                class="btn btn-default btn-block" target="_blank">5.4
                    中文文档</a> <a href="https://docs.golaravel.com/docs/5.3/" class="btn btn-default btn-block"
                                target="_blank">高数笔记</a> <a href="https://docs.golaravel.com/docs/5.2/"
                                                                class="btn btn-default btn-block" target="_blank">5.2
                    中文文档</a> <a href="https://docs.golaravel.com/docs/5.1/" class="btn btn-default btn-block"
                                target="_blank">英语笔记</a> <a href="https://docs.golaravel.com/docs/5.0/"
                                                                class="btn btn-default btn-block" target="_blank">5.0
                    中文文档</a> <a href="https://docs.golaravel.com/docs/4.2/" class="btn btn-default btn-block"
                                target="_blank">4.2 中文文档</a> <a href="https://docs.golaravel.com/docs/4.1/"
                                                                class="btn btn-default btn-block" target="_blank">4.1
                    中文文档</a> <a href="https://docs.golaravel.com/docs/4.0/" class="btn btn-default btn-block"
                                target="_blank">4.0 中文文档</a> <a href="https://lumen.golaravel.com/docs/"
                                                                class="btn btn-default btn-block" target="_blank">Lumen
                    中文文档</a></div>
            </aside>
        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget"><h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post"><a href="/post/laravel-5-5-will-be-the-next-lts-release/"
                                                           class="post-title">Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布</a>
                            <div class="date">2017年02月20日</div>
                        </div>
                        <div class="recent-single-post"><a href="/post/laravel-5-4-is-now-released/" class="post-title">Laravel
                            5.4 版本正式发布</a>
                            <div class="date">2017年01月24日</div>
                        </div>
                        <div class="recent-single-post"><a href="/post/benchmarking-laravel-symfony-zend/"
                                                           class="post-title">Laravel&nbsp;之父：让 Laravel、Symfony、 Zend
                            来一场公平的性能测试</a>
                            <div class="date">2017年01月12日</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget"><h4 class="title">标签云</h4>
                    <div class="content tag-cloud"><a href="/tag-cloud/">...</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget"><h4 class="title">友链</h4>
                    <div class="content tag-cloud friend-links"><a href="http://www.bootcss.com" title="Bootstrap中文网"
                                                                   onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcsscom'])"
                                                                   target="_blank">Bootstrap中文网</a> <a
                            href="http://www.bootcdn.cn" title="开放CDN服务"
                            onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcdncn'])"
                            target="_blank">开放CDN服务</a> <a href="http://www.gruntjs.net" title="Grunt中文网"
                                                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gruntjsnet'])"
                                                           target="_blank">Grunt中文网</a> <a
                            href="http://www.gulpjs.com.cn/" title="Gulp中文网"
                            onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gulpjscomcn'])"
                            target="_blank">Gulp中文网</a>
                        <hr>
                        <a href="http://lodashjs.com/" title="Lodash中文文档"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lodashjscom'])" target="_blank">Lodash中文文档</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jquery123com'])" target="_blank">jQuery中文文档</a>
                        <hr>
                        <a href="https://www.upyun.com/" title="又拍云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a> <a
                                href="http://www.lecloud.com/" title="乐视云"
                                onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lecloud'])" target="_blank">乐视云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span>Copyright © <a href="http://www.golaravel.com/">Laravel 中文网</a></span> | <span><a
                    href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> | <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>
<a href="#" id="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/9.0.0/highlight.min.js"></script>
<script src="/assets/js/main.min.js?1497579887016"></script>
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc8d13872a523d9c286aa7affbe0921f1' type='text/javascript'%3E%3C/script%3E"));</script>
<script src=" http://hm.baidu.com/h.js?c8d13872a523d9c286aa7affbe0921f1" type="text/javascript"></script>
</body>
</html>
