<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper" >

    <sql id="Base_Column_List" >
        id,title,content,user_id,status,addtime,updatetime
    </sql>

    <insert id="insert" parameterType="NoteDo" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_note (id, title, content, user_id, status, addtime, updatetime)
        values (#{id},#{title},#{content},#{user_id}, #{status}, #{addtime}, #{updatetime})
    </insert>

    <select id="selectById" resultType="NoteDo" >
        SELECT * FROM t_note WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultType="NoteDo" >
        SELECT * FROM t_note WHERE user_id = #{userId}
    </select>

    <delete id="deleteById" parameterType="Map">
        DELETE FROM t_note where id = #{id}
    </delete>

    <update id="updateStatusByUserId" parameterType="Map">
        UPDATE t_note set
        status = #{status} where user_id=#{userId}
    </update>

</mapper>