<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper" >

    <sql id="Base_Column_List" >
        id,title,content,user_id,status,addtime,updatetime
    </sql>

    <insert id="insert" parameterType="NoteDo" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_note (id, title, content, user_id, status, addtime, updatetime)
        values (#{id},#{title},#{content},#{user_id}, #{status}, #{addtime}, #{updatetime})
    </insert>

    <select id="selectById" resultType="NoteDo" >
        SELECT * FROM t_note WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultType="NoteDo" >
        SELECT * FROM t_note WHERE user_id = #{userId} ORDER BY addtime DESC limit #{offset}, #{size}
    </select>

    <select id="selectBetweenDate" resultType="NoteDo" >
        SELECT * FROM t_note WHERE <![CDATA[ addtime >= #{starttime} ]]> AND <![CDATA[ addtime <= #{endtime} ]]>
            ORDER BY addtime DESC limit #{offset}, #{size}
    </select>

    <delete id="deleteById" parameterType="Map">
        DELETE FROM t_note WHERE id = #{id}
    </delete>

    <update id="updateStatusByNoteId" parameterType="Map">
        UPDATE t_note SET
        status = #{status} WHERE note_id=#{noteId}
    </update>

    <update id="updateById" parameterType="NoteDo">
        UPDATE t_note
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="updatetime != null">updatetime = #{updatetime},</if>
        </trim>
        WHERE id=#{id}
    </update>

</mapper>